.header-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.container {
    width: 100%;
    border-bottom: 1px #fff solid;
    padding: 1rem 0;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 11%;
}